<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @comment.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @comment.name %>
</p>

<p>
  <strong>Dial:</strong>
  <%= @comment.dial %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
