  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <!-- Button for smallest screens -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <%= image_tag("logo.png", :size => "100x90", :class=> "img-rounded") %>
      </div>
      <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-left">
        <li class="active">
          <b class="notice"><%= notice %></b>
          <b class="alert"><%= alert %></b>
        </li>
        
      </ul>
        <ul class="nav navbar-nav pull-right">
         <li class="active"><%= link_to "Home", root_path %></li>
         <li class="active"><%= link_to "Methodology", pages_about_path %></li>
         <li class= "active"><%= link_to "News", pages_news_path %></li>
         <li class= "active"><%= link_to "Contact", contacts_path %></li>
       
         <li class= ""><a href="" class="fa fa-facebook btn btn-block btn-primary"></a></li>
         <li class= ""><a href="" class="fa fa-twitter btn btn-info"></a></li>
         <li class= ""><a href="https://www.youtube.com/watch?v=XsfHIlC0cBA" class="fa fa-youtube btn btn-danger"></a></li>
         <li class= ""><a href=" http://aidevmakerere.blogspot.com//" target="_top"style="color:blue" >AI -DEV BLOG!</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div> 
  
  <!-- /.navbar -->